// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-title {
    white-space: normal;
  }
  
.toolbarHamplia {
    * {
        color: white;
        background-color: $corMenuHamplia;
    }
}

ion-navbar {
    * {
        color: white;
        background-color: $corMenuHamplia;
    }
}

ion-content {
    background-color: $corFundoHamplia;
  
    div.fixed-content {
      background-color: $corFundoHamplia;
    }
   
    div.scroll-content form > ion-list > ion-item {
      background-color: $corFundoHamplia;
    }
}

.msgValidacaoQuestao{
    color: red !important;
}
  
.toggleIdioma {
    background-color: transparent;
    padding: 0px !important;
    margin: 0px !important;
    margin-top: 1px !important;
    left: 85%; //calc(100% - 9%);

    *{
        padding: 1px !important;
        margin: 0px !important;
    }

    .item-inner {
        border-bottom: 0px !important;
    }
}

.msgValidacao{
    padding-left: 16px;
    color: #ff0000;
}